.title {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

.validated-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

.first-step {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 50px;
}

.second-step {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.congrats {
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 60px auto 80px auto;
    font-size: 3rem;
    color: rgb(6, 165, 51);
}