/*

.form {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.form__item {
    width: 30%;
    height: 80px;
    display: flex;
    flex-direction: column;
    &--label {
        text-transform: capitalize;
        padding-bottom: 5px;
        color: blueviolet;
    }
    &--control {
        border: 1px solid blueviolet;
        min-height: 35px;
    }
} */

.title {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

.basic-form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 60px;
}