<!-- <form [formGroup]="basicForm" class="form">
    <div class="form__item">
        <label for="email" class="form__item--label">email</label>
        <input formControlName="email" type="email" id="email" class="form__item--control" placeholder="Enter your email...">
    </div>
    <div class="form__item">
        <label for="message" class="form__item--label">message</label>
        <textarea formControlName="message" id="message" class="form__item--control" placeholder="Leave a message..."></textarea>
    </div>
    <div class="form__item">
        <label for="career" class="form__item--label">car</label>
        <select formControlName="career" id="career" class="form__item--control">
          <option value="option1">Option 1</option>
          <option value="option2">Option 2</option>
          <option value="option3">Option 3</option>
      </select>
    </div>
</form> -->
<div class="title">
    <h1>Basic reactive form</h1>
    Value: {{ basicForm.value | json }}
</div>
<form [formGroup]="basicForm" class="basic-form">
    <mat-form-field appearance="outline">
        <mat-label>email</mat-label>
        <input matInput placeholder="email" formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>message</mat-label>
        <textarea matInput placeholder="message" formControlName="message">
        </textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>career</mat-label>
        <mat-select formControlName="career">
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
        </mat-select>
    </mat-form-field>
</form>