.title {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

.nested-form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 60px 0;
}

.phones {
    border-radius: 4px;
    border: 1px solid rgb(230, 230, 230);
    padding: 0.5rem;
    mat-form-field {
        margin: 0 0.3rem;
    }
    h4 {
        color: rgb(125, 125, 125)
    }
}